* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/fonts/Unbounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/fonts/Unbounded-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}